@model MvcKutuphane.Models.Entity.TBLPERSONEL
@{
    ViewBag.Title = "PersonelGuncelle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>PersonelGuncelle</h2>


<form class="form-group" method="post">
    @Html.HiddenFor(x => x.ID)
    <div>
        <label>Personel Adı</label>
        @Html.TextBoxFor(x => x.PERSONEL, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" id="Btn1">Personel Güncelle</button>
    </div>
</form>

